@media (max-width: 992px) {
  .navbar-collapse {
    width: auto;
    position: relative;
    bottom: 0;
    right: 0;
    width: auto;
    border-radius: 8px;
  }

  .navbar-nav {
    text-align: right;
  }
}
